
body{
	background-image:url("../images/backgroung.png");
	background-attachment:fixed;
	margin:auto;
	width:1080px;
	padding:0;
	font-family:Calibri, sans-serif;
	font-size:20px;
	line-height:33px;
}
#myNav{
	text-align:center;
	
}
#myNav a:link, #myNav a:visited{
	border:1px solid #ccc;
	padding:7px 12px;
	border-radius:5px;
	background-color:white;
	text-decoration:none;
	color:#808080;
	display:inline-block;
	width:10%;
	font-size:1.3rem;
	box-shadow:none;
	
}
#myNav a:hover, #myNav a:active{
	box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
	color:#000;
	border-bottom:1px solid red;
	transition:border-bottom 0.5s;
}
h1, h2{
	text-align:center;
}

/*Section Styling*/
section, .container {
	width:100%;
	border:1px solid #ccc;
	border-radius:15px;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
	padding:1% 1%;
	margin: 0 0 2% 0;
	background-color:white;
	box-sizing: border-box;
}
section p:first-line {text-indent:5%;}
img{
	float:right;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
	max-width:100%;
	height: auto;

}
#examplelink{
	float:none;
}
.date{
	color:gray;
	background-image:url("../images/calendar-alt.svg");
	background-repeat:no-repeat;
	
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

/*Contact form styling*/
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

	input[type=submit] {
	  background-color: rgba(32,33,36,0.28);
	  color: black;
	  padding: 12px 20px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	input[type=submit]:hover {
	  background-color: gray;
	  color:white;
	}

