/*body {
  margin: 0;
  padding: 0;
  width:1080px;
  margin:auto;
}
nav{
	text-align:right;
}

a{
	border:solid #dfe1e5 1px;
	padding:7px 12px;
	border-radius:15px;
	text-decoration:none;
}
a:hover{
	box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
	text-decoration:underline;
}*/
h1, h2{
	text-align:center;
}
section{
	width:100%;
	border:silver thin solid;
	border-radius:15px;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
	padding:1% 1%;
	
}
img{
	float:right;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
}
#examplelink{
	float:none;
}

