body{
	background-color:#f4f4f4;
	margin:0;
}
header{
	position:fixed;
	z-index:999;
	background-color:rgb(33,33,33);
	text-transform:uppercase;
	width:100%;

}
#head{
	max-width:1300px;
	margin:auto;
}

h1{
	font-family:'Russo One', sans-serif;
	color:white;
	float:left;
	margin:10px;
}
h2, #workdiv h2{
	font-family:'Russo One', sans-serif;
	color:black;
	font-size:4em;
	text-transform:uppercase;
}
#about h2{
	color:white;
}
h3{
	text-transform:uppercase;
	font-family:'Russo One', sans-serif;
}
header a{
	font-family: 'Open Sans', sans-serif;
	color:#ededec;
	text-decoration:none;
}
#head ul{
	float:right;
}
#head li{
	display:inline;
	margin:0 10px;
}
header a:hover{
	color:#f67c05;
	border-bottom:1px solid #f67c05;
}

/*Styling Top part of page in main section*/
.container{
	width:1300px;
	height:100vh;
	margin:auto;
}
/*#home img{
	width:100%;
	height:100vh;
}*/
#work{
	width:100%;
	height:100vh;
	vertical-align:middle;
}
#about{
	width:100%;
	height:100vh;
	background-color:black;
	color:white;
}
#contact{
	width:100%;
	height:100vh;
}
span{
	border-left:red dotted 1px;
	font-size:0.2em;
	vertical-align: middle;
	color:#f67c05;
	padding:0 0 0 10px;
}

#images div{
	background-color:white;
	display:inline-block;
	width: 375px;
	height: 375px;

	border-radius: 50%;
	margin:10px;
	text-align:center;
}
#images div h3{
	margin: -45px 0px 0 0;
	font-size:0.8em;
}
#images div p{
	margin: -0 0px 0 0;
	font-size:0.6em;
}
#images img{
	width: 375px;
	height: 375px;
	overflow: hidden;
	border-radius: 50%;
	position:relative;
	top:-50px;
}
.storyeducation{
	width:450px;
	float:left;
	margin:15px;
}
.storyeducation h3{
	border-left:solid 5px #f67c05;
	padding:0 0 0 10px;
}
.storyeducation h4{
	text-transform:uppercase;
	background-color:#f67c05;
	padding:5px 20px;
	margin:5px 0;
}
.storyeducation h4+p{
	margin:10px 20px;
}
.storyeducation h4:nth-child(2){
	background-color:white;
	color:black;
}