
div{

	text-align:center;
	margin:auto;
	width: fit-content;

}
#circle{
	background-color:red;
	text-align:center;
	width: 375px;
	height: 375px;
	margin:50px;
	border-radius: 50%;
	z-index:0;
}
p{
	font-size:3em;
	color:red;
}
#myText2{
	visibility:hidden;
}